[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

pygithub = "*"
prompt-toolkit = "*"
peewee = "*"
click = "*"


[dev-packages]

check-manifest = "*"
"flake8" = "*"
